# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Sensitive data
.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db